.content{
    position: absolute;
    top: 20%;
    left: 17%;
    .modal{
        width: 425px;

        background-color: rgba(255, 255, 255, 0.397);
        padding: 25px;
        backdrop-filter: blur(5px);
        border-radius: 4px;
        
        .header{
            h3{
                color: #a0a0a0;
            }
        }
        #message{
            height: 22px;
            width: 90%;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            color: #ffffff;
            background-color: #c6b7fb;
            margin: 0;
            
        }
        form{
            width: 100%;
            .full{
                width: 100%;
            }
            .half{
                width: 48%;
            }
            input, textarea{
                margin: 2px 0;
                border: 0;
                border-radius: 3px;
                background-color: #fff;
                color: #747474;
                height: 40px;
                outline: none;
                box-shadow: 0px 3px 0px 0px #dddddd;
            }
            
            label{
                margin-top: 15px;
                font-size: 11px;
                color: #878787;
                text-transform: uppercase;
            }

            button{
                background-color: #BC98FC;
                height: 45px;
               
                border-radius: 4px;
                border: 0;
                color: #fff;
            }
            .inactive{
                color: #fafafa;
                background-color: #a3a3a3;
            }
            a{
                text-decoration: none;
                margin-top: 18px;
                margin-bottom: 2px;
                font-size: 12px;
                color: #878787;
                cursor: pointer;
            }
            .field{
                .error{
                    font-size: 11px;
                    color: rgb(248, 47, 47);
                }
            }
        }
    }
}